.ListingApartmentsComponent {
  display: flex;
  flex-direction: row;

  .filter-panel {
    box-sizing: border-box;
    width: 300px;
    flex-shrink: 0;
    padding: 16px 16px 16px 0;

    .el-card {
      overflow: visible;
    }
  }

  .list {
    flex-grow: 1;
    padding: 16px 0;

    .map-container {
      height: 500px;
    }

    .pagination {
      display: flex;
      margin: 16px;
      flex-direction: column;
      align-items: center;
    }
  }
}
